.floating-button {
    position: fixed;
    bottom: 50px;
    right: 80px;
    height: auto;
    padding: 12px;
    border-radius: 8px;
    background-color: #fed014;
    color: white;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}
